<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.InaccountMapper">

    <select id="getInaccountLike" resultType="com.example.entity.Inaccount">
        SELECT * FROM tb_inaccount WHERE user_id = #{user_id}
        <if test="time != null">and time like "%"#{time}"%"</if>
        <if test="type != null">and type like "%"#{type}"%"</if>
        <if test="handler != null">and handler like "%"#{handler}"%"</if>
        <if test="mark != null">and mark like "%"#{mark}"%"</if> order by id desc;
    </select>

    <select id="inaccountAll" resultType="com.example.entity.Inaccount">
        SELECT * FROM tb_inaccount where user_id = #{user_id} order by id desc;

    </select>

    <delete id="inaccountDelete" parameterType="java.lang.Integer">
        DELETE FROM tb_inaccount where id = #{id}
    </delete>

    <insert id="inaccountNew" parameterType="com.example.entity.Inaccount">
        INSERT INTO tb_inaccount (money,time,type,handler,mark,user_id) values (#{money},#{time},#{type},#{handler},#{mark},#{user_id});
    </insert>

    <update id="inaccountUpdate" parameterType="com.example.entity.Outaccount">
        UPDATE tb_inaccount set money=#{money},time=#{time},type=#{type},handler=#{handler},mark=#{mark}  where id=#{id}
    </update>

    <select id="idSelectUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT user_id from tb_inaccount where id = #{id}
    </select>
</mapper>
