<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OutaccountMapper">

    <select id="getOutaccountLike" resultType="com.example.entity.Outaccount">
        SELECT * FROM tb_outaccount where user_id = #{user_id}
        <if test="time != null">and time like "%"#{time}"%"</if>
        <if test="type != null">and type like "%"#{type}"%"</if>
        <if test="address != null">and address like "%"#{address}"%"</if>
        <if test="mark != null">and mark like "%"#{mark}"%"</if> order by id desc;
    </select>

    <select id="outaccountAll" resultType="com.example.entity.Outaccount">
        SELECT * FROM tb_outaccount where user_id = #{user_id} order by id desc;
    </select>

    <delete id="outaccountDelete" parameterType="java.lang.Integer">
        DELETE FROM tb_outaccount where id = #{id}
    </delete>

    <insert id="outaccountNew" parameterType="com.example.entity.Outaccount">
        INSERT INTO tb_outaccount (money,time,type,address,mark,user_id) values (#{money},#{time},#{type},#{address},#{mark},#{user_id});
    </insert>

    <update id="outaccountUpdate" parameterType="com.example.entity.Outaccount">
        UPDATE tb_outaccount set money=#{money},time=#{time},type=#{type},address=#{address},mark=#{mark}  where id=#{id}
    </update>

    <select id="idSelectUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT user_id from tb_outaccount where id = #{id}
    </select>

    <select id="outaccountCount" parameterType="java.lang.Integer" resultType="Map">
        SELECT type,sum(money) as nums from tb_outaccount where user_id = #{user_id} group by type;
    </select>
</mapper>
